<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-justify-content-around">
      <ion-col size-lg="3" size-md="6">
        <ion-button expand="full" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</ion-button>
        <ion-button expand="full" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</ion-button>

        <pre *ngIf="auth.userProfile$ | async as profile">
          <code>{{ profile | json }}</code>
        </pre>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
