<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="optionsForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="stacked">hasura_url</ion-label>
      <ion-input type="url" formControlName="hasura_url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">hasura_secure</ion-label>
      <ion-toggle formControlName="hasura_secure" [checked]="hasura_secure" ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">auth_token</ion-label>
      <ion-input type="text" formControlName="auth_token"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">jwt_server</ion-label>
      <ion-input type="url" formControlName="jwt_server"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">jwt_path</ion-label>
      <ion-input type="text" formControlName="jwt_path"></ion-input>
    </ion-item>

    
    <ion-button expand="full" type="submit" [disabled]="!optionsForm.valid">Save</ion-button>
    <ion-button expand="full" (click)="closeModal()">Close</ion-button>

  </form>
</ion-content>