<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Collect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newTodo" (ngSubmit)="saveTodo()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Url</ion-label>
      <ion-input type="text" formControlName="url" inputmode="url"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-textarea formControlName="content"></ion-textarea>
    </ion-item>
    <ion-button 
    type="submit" 
    [disabled]="!newTodo.valid">
      Submit
    </ion-button>
  </form>
</ion-content>